/* 
    Document   : style
    Created on : Oct 25, 2013, 2:42:41 PM
    Author     : Sam
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.container {
    margin-left: auto;
    margin-right: auto;
    background: #dcdcdc;
    text-align: center;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

.align-center {
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    margin: 5px 5px 5px 5px;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-butter {
    -webkit-appearance: none;
    margin: 0;
}