/* 
    Document   : style
    Created on : Oct 25, 2013, 2:42:41 PM
    Author     : Sam
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.container {
    margin-left: auto;
    margin-right: auto;
    background: #dcdcdc;
    text-align: center;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

.align-center {
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    margin: 5px 5px 5px 5px;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-butter {
    -webkit-appearance: none;
    margin: 0;
}

*, h1, h2, h3, h4, h5, h6 {
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btn-home-selections {
    width: 240px;
    margin: 4px 2px 4px 2px;
}

.footer {
    bottom: 0;
    text-align: right;
}

body.modal-open {
    margin-right: 0px;
}

.footer {
    font-size: 10pt;     
    color: #868686; 
}

.footer-left {
    float: left; 
    margin-bottom: 5px;
}

.footer-right {
    float: right; 
    font-size: 10pt;
}

@media (max-width: 420px) {
    .footer-left, .footer-right {
        float: none;
        display: block;
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .footer {
        text-align: center;
        margin-bottom: 10px;
    }
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}

.twitter-typeahead {
	width: 100%;
}

.tt-dropdown-menu {
    min-width: 160px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
    color: #fff;
}

.tt-suggestion p {
    margin: 0;
}

.twitter-typeahead .tt-hint {
    display: block;
    height: 34px;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    width: 100%;
}
