ErrorDocument 404 /error.php?error=404
ErrorDocument 500 /error.php?error=500
ErrorDocument 200 /error.php?error=200

RewriteRule ^team/([0-9]+)/?$ /home/other-team-profile.php?team=$1 [NC,L] #rewrite team profiles to make them prettier
RewriteRule ^team/?$ /home/team-profile.php [NC,L] #make team profile better
RewriteRule ^home/results/averages/?$ /home/results/team-averages.php [NC,L] #make team profile better
RewriteRule ^home/results/compare/?$ /home/results/compare-alliances.php [NC,L] #make team profile better
RewriteRule ^home/preferences/?$ /home/team-preferences.php [NC,L] #make team profile better
RewriteRule ^team/([0-9]+)/matches/?$ /home/results/match-list.php?team=$1 [NC,L] #make specific matches better
RewriteRule ^teams/?$ /home/view-registered-teams.php [NC,L] #rewrite team profiles to make them prettier
