ErrorDocument 404 /error.php?error=404
ErrorDocument 500 /error.php?error=500
ErrorDocument 200 /error.php?error=200

RewriteRule ^team/([0-9]+)/?$ /home/other-team-profile.php?team=$1 [NC,L] #rewrite team profiles to make them prettier